<div class="galerie">

	{% for obrazek in obrazky %}

	<a href="/obrazek/{{ obrazek.popisek | slug }}/">
		<div class="galerie__polozka">
			<img class="galerie__obrazek" src="/obrazky/nahled/{{ obrazek.soubor }}" alt="{{ obrazek.popisek }}" width="{{ obrazek.nahled.sirka }}" height="{{ obrazek.nahled.vyska }}">
			<h3 class="galerie__popisek">{{ obrazek.popisek }}</h3>
		</div>
	</a>

	{% endfor %}

</div>
